/*fonts*/
/* @font-face {
  font-family: "doods";
  src:
    url("./fonts/digory_doodles_ps-webfont.woff2") format("woff2"),
    url("./fonts/digory_doodles_ps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gondolaSDRegular";
  src:
    url("./fonts/gondola_sd-webfont.woff2") format("woff2"),
    url("./fonts/gondola_sd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gondolaSDSwashRegular";
  src:
    url("./fonts/gondola_sd-swash-webfont.woff2") format("woff2"),
    url("./fonts/gondola_sd-swash-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "floraItalic";
  src:
    url("./fonts/florli__-webfont.woff2") format("woff2"),
    url("./fonts/florli__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "floraRegular";
  src:
    url("./fonts/florlrg_-webfont.woff2") format("woff2"),
    url("./fonts/florlrg_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  --_fontFamily: var(--fontFamily, inherit);
  --_fontColor: var(--fontColor, inherit);
  --_padding: var(--padding, inherit);
  --_fontSize: var(--fontSize, inherit);
  --_backgroundColor: var(--backgroundColor, inherit);
  --_padding: var(--padding, inherit);
  --_border: var(--border, inherit);
  --_borderRadius: var(--borderRadius, inherit);
} */

/*variables*/
/* :root {
  --_fontFamily: var(--fontFamily, "gondolaSDRegular");
  --_fontSize: var(--fontSize, clamp(1em, 0.5em, +1.5vw, 2rem), 24px);
  --_fontColor: var(--fontColor, black);
  --_padding: var(--padding, 1em);
  --_backgroundColor: var(--backgroundColor, white);
  --_border: var(--border, 1px solid #d6d9d9);
  --_borderRadius: var(--borderRadius, 3px);
}
*/
body {
  min-height: 100vh;
}

/*
.form-row {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 100px 250px;
  align-items: center;
}
.form-row label {
  margin-bottom: 15px;
}

label {
  font-weight: 800;
} */

/*input styling*/

.form-row input {
  border: var(--_border);
  border-radius: var(--_borderRadius);
  width: 80%;
  --padding: 10px;
  padding: var(--_padding);
  font-size: 14px;
  margin-bottom: 15px;
}
/*
button {
  --fontColor: white;
  --padding: 4px;
  --borderRadius: 6px;
  --backgroundColor: #475569;
  width: fit-content;
  height: fit-content;
  padding: var(--_padding);
  border-radius: var(--_borderRadius);
  background-color: var(--_backgroundColor);
  color: var(--_fontColor);
}
button:hover {
  background-color: #334155;
}*/

#content {
  line-height: 1.5em;
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 60px) repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  color: var(--_fontColor);
  font-size: var(--_fontSize);
}
/* Grid positioning */
form,
img,
div#output {
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
}
form {
  display: flex;
  gap: 50px;
}
/* img {
  gird-column:
} */
span#switch {
  grid-row: 2/3;
  justify-self: flex-end;
}
label.switch {
  grid-row: 2;
  grid-column: 2;
}

/*CSS styling to convert checkbox to toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
/* input:checked + .slider:before {
  box-shadow: 0 0 1px #2196f3;
} */
