/*fonts*/
/* @font-face {
  font-family: "doods";
  src:
    url("./fonts/digory_doodles_ps-webfont.woff2") format("woff2"),
    url("./fonts/digory_doodles_ps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gondolaSDRegular";
  src:
    url("./fonts/gondola_sd-webfont.woff2") format("woff2"),
    url("./fonts/gondola_sd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gondolaSDSwashRegular";
  src:
    url("./fonts/gondola_sd-swash-webfont.woff2") format("woff2"),
    url("./fonts/gondola_sd-swash-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "floraItalic";
  src:
    url("./fonts/florli__-webfont.woff2") format("woff2"),
    url("./fonts/florli__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "floraRegular";
  src:
    url("./fonts/florlrg_-webfont.woff2") format("woff2"),
    url("./fonts/florlrg_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*/
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  --_fontFamily: var(--fontFamily, inherit);
  --_fontColor: var(--fontColor, inherit);
  --_padding: var(--padding, inherit);
  --_fontSize: var(--fontSize, inherit);
  --_backgroundColor: var(--backgroundColor, inherit);
  --_padding: var(--padding, inherit);
  --_border: var(--border, inherit);
  --_borderRadius: var(--borderRadius, inherit);
}

/*variables*/
:root {
  --_fontFamily: var(--fontFamily, "gondolaSDRegular");
  --_fontSize: var(--fontSize, clamp(1em, 0.5em, +1.5vw, 2rem), 24px);
  --_fontColor: var(--fontColor, black);
  --_padding: var(--padding, 1em);
  --_backgroundColor: var(--backgroundColor, white);
  --_border: var(--border, 1px solid #d6d9d9);
  --_borderRadius: var(--borderRadius, 3px);
}

body {
  min-height: 100vh;
}

/*input styling*/

.form-row input {
  border: var(--_border);
  border-radius: var(--_borderRadius);
  width: 80%;
  --padding: 10px;
  padding: var(--_padding);
  font-size: 14px;
  margin-bottom: 15px;
}

#content {
  line-height: 1.5em;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 60px) 200px 100px 200px 60px 100px;
  grid-template-columns: repeat(2, 1fr);
  color: var(--_fontColor);
  font-size: var(--_fontSize);
}

form,
div#output {
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
}
div#output {
  grid-row: 7;
}

form {
  display: flex;
  gap: 50px;
}
div#locationName {
  grid-column: 1 / span 2;
}
div#iconDesc {
  grid-column: 1 / span 2;
  grid-row: 4;
}
div#humiditySunrise {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 1fr;
  grid-column: 1 / span 2;
  grid-row: 5;
}
span#temperature {
  grid-row: 3;
  justify-self: flex-end;
  align-self: center;
  font-size: 40px;
  padding: 1em;
}
div#scaleDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 6;
  grid-column: 1 / span 2;
  justify-self: center;
}
label.switch {
  grid-column: 2;
}
search {
  display: flex;
  align-items: center;
  gap: 20px;
}
label {
  align-self: center;
  font-size: 20px;
}

img {
  grid-row: 3;
  grid-column: 2;
  width: 10em;
}
#searchBar {
  outline: none;
  border: 4px solid rgb(169, 168, 166);
  border-radius: 6px;
  height: 50px;
  font-size: 20px;
}
#searchBar:focus {
  border: 4px solid #2196f3;
}

button {
  --fontColor: black;
  --borderRadius: 6px;
  --backgroundColor: #ccc;
  height: 50px;
  padding: var(--_padding);
  border-radius: var(--_borderRadius);
  background-color: var(--_backgroundColor);
  color: var(--_fontColor);
  font-size: 16px;
}
button:hover {
  background-color: #2196f3;
  --fontColor: #fdfeff;
  color: var(--_fontColor);
}

/*CSS styling to convert checkbox to toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(66px);
}
/* input:checked + .slider:before {
  box-shadow: 0 0 1px #2196f3;
} */
